:root {
    --dark: #666666;
    --mid: #777777;
    --light: #999999;
    --accent: dodgerblue;
    --wrong: maroon;
    --correct: green;
}

* {
    box-sizing: border-box;
}
body {
    background: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: var(--mid);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 15px 30px 15px;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
a {
    text-decoration: none;
    padding: 5px;
    color: var(--accent);
    font-size: 18px;
}
a:hover {
    background: var(--dark);
    border-radius: 5px;
}
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    font-size: 72px;
    margin: 30px 0 30px 0;

}
h2 {
    font-size: 32px;
    padding: 10px;
}
p {
    padding: 10px;
}
button {
    font-size: 24px;
    background: var(--mid);
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}
button:hover {
    background: var(--accent);
    border-radius: 15px;
    box-shadow: 0px 0px 6px 2px var(--dark);
}
.btn.correct {
    background: var(--correct);
}
.btn.wrong {
    background: var(--wrong);
}
.name {
    text-align: left;
}
.score {
    text-align: right;
}
#theList {
    width: 450px;
    height: auto;
    padding: 25px;
    background: white;
    border: 5px solid var(--mid);
    border-radius: 30px;
}
.container {
    width: 800px;
    max-width: 80%;
    height: auto;
    background: white;
    border: 3px solid black;
    border-radius: 10px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
}
.scoreContainer {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.scoreboardTitle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 500px;
    height: auto;
    background: var(--mid);
    border: 5px  solid var(--dark);
    border-radius: 30px;
    margin: 10px;
}
.position {
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.name {
    display: flex;
    align-items: flex-start;
}
